body {
    background: url(https://static.vecteezy.com/system/resources/previews/004/644/512/non_2x/black-podium-background-free-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%,
            #275e8e,
            transparent);
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 50%;
    top: 75%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 3em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #29C5f6,
        -0.2rem 0.1rem 1rem #29C5f6, 0.2rem 0.1rem 1rem #29C5f6,
        0 -0.5rem 2rem #2e5984, 0 0.5rem 3rem #2e5984;
    animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {

    0%,
    22%,
    36%,
    75% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #29C5f6,
            -0.2rem 0.1rem 1rem #29C5f6, 0.2rem 0.1rem 1rem #29C5f6,
            0 -0.5rem 2rem #2e5984, 0 0.5rem 3rem #2e5984;
    }

    28%,
    33% {
        color: #91bad6;
        text-shadow: none;
    }

    82%,
    97% {
        color: 2e5984;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
    margin-left: 10px;
}

.fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
    0% {
        color: #275e8e;
        text-shadow: none;
    }

    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #91bad6,
            -0.2rem 0.1rem 1rem #29C5f6, 0.2rem 0.1rem 1rem #29C5f6,
            0 -0.5rem 2rem #2e5984, 0 0.5rem 3rem #2e5984;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }

    4% {
        opacity: 0.9;
    }

    6% {
        opacity: 0.85;
    }

    8% {
        opacity: 0.95;
    }

    10% {
        opacity: 0.9;
    }

    11% {
        opacity: 0.922;
    }

    12% {
        opacity: 0.9;
    }

    14% {
        opacity: 0.95;
    }

    16% {
        opacity: 0.98;
    }

    17% {
        opacity: 0.9;
    }

    19% {
        opacity: 0.93;
    }

    20% {
        opacity: 0.99;
    }

    24% {
        opacity: 1;
    }

    26% {
        opacity: 0.94;
    }

    28% {
        opacity: 0.98;
    }

    37% {
        opacity: 0.93;
    }

    38% {
        opacity: 0.5;
    }

    39% {
        opacity: 0.96;
    }

    42% {
        opacity: 1;
    }

    44% {
        opacity: 0.97;
    }

    46% {
        opacity: 0.94;
    }

    56% {
        opacity: 0.9;
    }

    58% {
        opacity: 0.9;
    }

    nav {
        display: flex;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 0;
    }
}

    nav ul {
        flex: 1;
        text-align: right;
        padding-right: 30px;

    }

    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 30px;

    }

    nav ul li a {
        color: #29C5f6;
        text-decoration: none;

    }

    nav ul li a:after {
        content: '';
        width: 0;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        background: #fff;
        transition: 0.3s;
    }

    nav ul li a:hover::after {
        width: 50%;

    }
   
    Body { width:100vw;
height: 100vh;
Margin:0;

   }
.container{
width:100vw;
height: 100vh;
Margin:0;
}
section{
display:flex;
align-items: center;
width:100vw;
height: 100vh;


}



 
